.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.card img {
    width: 400px;
    height: 400px;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}